.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
*.DS_Store
*.html
*.mod
*.rda
out
inst/doc
data-raw
example_run_b90
scratch.R
MultiRuns
Poster
.
src-i386
src-x64
doc
Meta
ABOVANN.ASC
ABOVDAY.ASC
BELOANN.ASC
BELODAY.ASC
BUDGANN.ASC
BUDGDAY.ASC
EPVPANN.ASC
EVALANN.ASC
EVALDAY.ASC
EVAPANN.ASC
EVAPDAY.ASC
FLOWANN.ASC
FLOWDAY.ASC
Log.txt
MISCANN.ASC
MISCDAY.ASC
PSITANN.ASC
PSITDAY.ASC
SWATANN.ASC
SWATDAY.ASC
